* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  /* Colors */
  --orange-color: #F79F24;
  --light-orange-color: #ebb66d;
  --green-color: #45c441;
  --light-green-color: #8bd388;
  --blue-color: #2d71f0;
  --light-blue-color: #5b91f7;
  --pink-color: #fd5569;
  --light-pink-color: #ff9aa6;

}

html {
  font-family: 'Avenir Next', serif;
}

body {
  width: 100vw;
  min-height: 100vh;
  background-color: rgb(255, 244, 245);

}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.overlay {
  display: none;
  position: fixed;
  font-size: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  z-index: 100;
  color: #f79f24;
}

.overlay.visible {
  display: flex;
  flex-direction: column;
  animation: overlayy 500ms forwards;
}
.chooseTheme {
  font-size: 34px;
  margin-top: 40px;
  text-align: center;
}

.chooseTheme button {
  font-size: 34px;
  line-height: 34px;
  border: none;
  cursor: pointer;
  color: white;
  padding: 20px;
  margin: 5px;
  border-radius: 10px;
  transition: background-color .2s ease-in-out;
}

#halloween {background-color: var(--light-orange-color);}
#halloween:hover {background-color: var(--orange-color);}
#fruits {background-color: var(--light-blue-color);}
#fruits:hover {background-color: var(--blue-color);}
#animal {background-color: var(--light-green-color);}
#animal:hover {background-color: var(--green-color);}


@keyframes overlayy {
  from {
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 0em;
  }
  to {
    background-color: rgba(0, 0, 0, .8);
    font-size: 10em;
  }
}

.overlay h3 {
  font-size: .3em;
  text-align: center;
}
.overlay p {
  text-align: center;
  font-size: .2em;
}


/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card-container {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 10px;
    justify-content: center;
    align-content: center;
    perspective: 1000px;
    width: 100%;
    /* Remove this if you don't want the 3D effect */
  }

  .card-flip-highScore {
    grid-column: 1 / -1;
    font-weight: normal;
    font-size: 26px;
  }
  .card-flip-currentTime {
    grid-row: 2;
    grid-column: 3 / 5;
    text-align: center;
  }

  .card-flip-currentTime h2 {
    font-size: 30px;
    font-weight: normal;
  }
  .card-flip-currentTime h3 {
    font-size: 45px;
    font-weight: normal;
  }
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100px;
    height: 100px;
    text-align: center;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    transform: scale(1);
  }

.overlay {
  display: none;
  position: fixed;
  font-size: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  z-index: 100;
  color: #f79f24;
}

.overlay.visible {
  display: flex;
  flex-direction: column;
  animation: overlayy 500ms forwards;
}


@keyframes overlayy {
  from {
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 0em;
  }
  to {
    background-color: rgba(0, 0, 0, .8);
    font-size: 10em;
  }
}

  
  .flip-card-inner:active {
    transform: scale(0.85);
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card-inner.flip {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front,
  .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
    border-radius: 10px;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: var(--green-color);
  }
    /* Style the back side */
    .flip-card-back {
      display: flex;
      justify-content: center;
      align-items: center;
      transform: rotateY(180deg);
      background-color: var(--light-green-color);
    }

    /* Depending on which theme has been chosen */
  .flip-card-front.orange {
    background-color: var(--orange-color);
  }
  .flip-card-front.green {
    background-color: var(--green-color);
  }
  .flip-card-front.blue {
    background-color: var(--blue-color);
  }
  .flip-card-back.light-blue {
    background-color: var(--light-blue-color);
  }
  .flip-card-back.light-green {
    background-color: var(--light-green-color);
  }
  .flip-card-back.light-orange {
    background-color: var(--light-orange-color);



.overlay p {
  font-size: .2em;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card-container {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-gap: 15px;
  justify-content: center;
  align-content: center;
  perspective: 1000px;
  /* Remove this if you don't want the 3D effect */
}

.flip-card-container h1 {
  grid-column: 1 / -1;
  text-align: center;
}
.card-score-container {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100px;
  height: 100px;
  text-align: center;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  transform: scale(1);
}

.flip-card-inner {
  font-size: 3em;
}

.flip-card-inner:active {
  transform: scale(0.85);
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card-inner.flip {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
  border-radius: 10px;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #fd5569;
  background-color: #45c441;
  background-color: #f79f24;
}

/* Style the back side */
.flip-card-back {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff9aa6;
  background-color: #8bd388;
  background-color: #ebb66d;
  transform: rotateY(180deg);
}

  

@media screen and (max-width: 771px) {

  .hamburger-menu {
    width: 35px;
  }

  .flip-card-inner {
    width: 74px;
    height: 74px;
  }
  .flip-card-container {
    grid-template-columns: repeat(4, auto);
  }


  .card-flip-currentTime {
    grid-column: 2 / 4;
  }
  .card-flip-currentTime h2 {
    font-size: 25px;
  }
  .card-flip-currentTime h3 {
    font-size: 30px;
  }

}
  @media screen and (max-width: 576px) {
    .logo {
      font-size: 24px;
    }

    .flip-card-inner {
      width: 75px;
      height: 75px;
    }
    .card-flip-highScore {
      font-size: 18px;
    }
    .card-flip-currentTime h2 {
      font-size: 20px;
    }
    .card-flip-currentTime h3 {
      font-size: 25px;
    }
  }
  @media screen and (max-width: 400px) {

    .flip-card-inner {
      width: 60px;
      height: 60px;
    }

    .flip-card-inner {
      font-size: 2.2em;
    }
  }
  

}
@media screen and (max-width: 576px) {
  .flip-card-inner {
    width: 75px;
    height: 75px;
  }
}
@media screen and (max-width: 400px) {
  .flip-card-inner {
    width: 60px;
    height: 60px;
  }

  .flip-card-inner p {
    font-size: 2.5em;
  }
}



