* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  /* Colors */
  --orange-color: #f79f24;
  --light-orange-color: #ebb66d;
  --green-color: #45c441;
  --light-green-color: #8bd388;
  --blue-color: #2d71f0;
  --light-blue-color: #5b91f7;
  --pink-color: #fd5569;
  --light-pink-color: #ff9aa6;
}

h1,
h2 {
  font-family: "Poppins", serif;
  font-size: 1rem;
}

html {
  font-family: "Avenir Next", serif;
}

body {
  width: 100vw;
  min-height: 100vh;
  background-color: white;
  overflow-x: hidden;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(194, 189, 191); */
  /* padding: 20px; */
  /* font-family: "Poppins", sans-serif; */
}
.logo {
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 20px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: red;
  padding: 20px;
  font-family: "Poppins", sans-serif;
}

.nav-links {
  position: absolute;
  right: 0px;
  height: 100%;
  width: 25%;
  top: 9.5vh;
  background-color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateX(100%);
  transition: transform 0.3s ease-in;
  padding-top: 3vh;
  z-index: 999;
}
@media screen and (min-width: 1024px) {
  .nav-links {
    top: 2vh;
  }
}

.nav-links a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  letter-spacing: 3px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  cursor: pointer;
}

.nav-links li {
  list-style: none;
  padding: 4vw;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
  transition: all 0.3s ease;
}

.nav-active {
  transform: translateX(0%);
}

.burger {
  display: block;
  z-index: 1000;
  cursor: pointer;
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(+45deg) translate(-5px, -6px);
}

/*PopUp*/
/* The Modal (background) */

.modal {
  display: none;
  position: fixed;
  z-index: 1001;
  padding-top: 20px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  /* background-color: rgb(0, 0, 0); */
  background-color: rgba(0, 0, 0, 0.4);
}
/* Modal Content */
.modal-content {
  position: relative; /*  */
  margin: 40px auto;
  padding: 30px;
  border: 1px solid #888;
  max-width: 950px;
  /* height: 400px; */
  /* color: black; */
  /* font-size: 16px; */
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: row; */
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

@media screen and (max-width: 960px) {
  .modal-content {
    margin: 20px;
  }
}

/* The Close Button */
.close {
  color: #000;
  position: absolute;
  /* float: right; */
  font-size: 28px;
  line-height: 14px;
  font-weight: bold;
  /* width: 50px;
  height: 100%; */
  top: 20px;
  right: 20px;
  cursor: pointer;
  /* padding: 30px; */
  transition: color 0.2s ease-in-out;
}

.close:hover {
  color: rgba(88, 88, 99, 0.8);
  /* text-decoration: none; */
}

/*About cards*/

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  transition: 0.3s;
  width: 200px;
  height: 300px;
  text-align: center;
  margin: 6px;
  font-family: "Poppins", serif;
  font-size: 0.8rem;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 1px 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
  /* max-width: 900px; */
}

/*localstorage*/
input {
  padding: 20px;
  height: 30px;
  margin: 10px;
  font-family: "Poppins", serif;
}

button {
  padding: 5px;
  margin: 10px;
}
.players {
  font-family: "Poppins", serif;
  font-size: 1rem;
  padding: 5px;
}
fieldset {
  margin-bottom: 20px;
  padding: 6px;
}

legend {
  padding: 20px;
}

.overlay {
  display: none;
  position: fixed;
  font-size: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  z-index: 100;
  color: #f79f24;
  text-align: center;
}

.overlay.visible {
  display: flex;
  flex-direction: column;
  animation: overlayy 500ms forwards;
}

@keyframes overlayy {
  from {
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 0em;
  }
  to {
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 10em;
  }
}

.chooseTheme {
  font-size: 34px;
  margin-top: 40px;
  text-align: center;
}

.chooseTheme button {
  font-size: 34px;
  line-height: 34px;
  border: none;
  cursor: pointer;
  color: white;
  padding: 20px;
  margin: 5px;
  border-radius: 10px;
  transition: background-color 0.2s ease-in-out;
}

#halloween {
  background-color: var(--light-orange-color);
}
#halloween:hover {
  background-color: var(--orange-color);
}
#fruits {
  background-color: var(--light-blue-color);
}
#fruits:hover {
  background-color: var(--blue-color);
}
#animal {
  background-color: var(--light-green-color);
}
#animal:hover {
  background-color: var(--green-color);
}

.overlay h3 {
  font-size: 0.2em;
  text-align: center;
}
.overlay p {
  text-align: center;
  font-size: 0.15em;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card-container {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-gap: 10px;
  justify-content: center;
  align-content: center;
  perspective: 1000px;
  width: 100%;
  /* Remove this if you don't want the 3D effect */
}

.card-flip-highScore {
  grid-column: 1 / -1;
  font-weight: normal;
  font-size: 26px;
}

/* #scoreText {
  color: #000;
  width: 100%;
} */
.card-flip-currentTime {
  grid-row: 2;
  grid-column: 3 / 5;
  text-align: center;
}

.card-flip-currentTime h2 {
  font-size: 30px;
  font-weight: normal;
}
.card-flip-currentTime h3 {
  font-size: 45px;
  font-weight: normal;
  display: block;
}
/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100px;
  height: 100px;
  width: 130px;
  height: 130px;
  text-align: center;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  transform: scale(1);
}

.flip-card-inner:active {
  transform: scale(0.85);
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card-inner.flip {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
  border-radius: 10px;
}

/* Style the back side */
.flip-card-back {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateY(180deg);
}

.flip-card-back p {
  font-size: 3em;
}

/* Depending on which theme has been chosen */
.flip-card-front.orange {
  background-color: var(--orange-color);
}
.flip-card-front.green {
  background-color: var(--green-color);
}
.flip-card-front.blue {
  background-color: var(--blue-color);
}
.flip-card-back.light-blue {
  background-color: var(--light-blue-color);
}
.flip-card-back.light-green {
  background-color: var(--light-green-color);
}
.flip-card-back.light-orange {
  background-color: var(--light-orange-color);
}

/* Media Queries */
@media screen and (max-width: 900px) {
  .flip-card-inner {
    width: 110px;
    height: 110px;
  }
}

@media screen and (max-width: 771px) {
  .flip-card-inner {
    width: 100px;
    height: 100px;
  }
  .flip-card-container {
    grid-template-columns: repeat(4, auto);
  }

  .card-flip-currentTime {
    grid-column: 2 / 4;
  }
  .card-flip-currentTime h2 {
    font-size: 25px;
  }
  .card-flip-currentTime h3 {
    font-size: 30px;
  }
}

@media screen and (max-width: 576px) {
  .flip-card-inner {
    width: 80px;
    height: 80px;
  }
  .card-flip-highScore {
    font-size: 18px;
  }
  .card-flip-currentTime h2 {
    font-size: 20px;
  }
  .card-flip-currentTime h3 {
    font-size: 25px;
  }
  .flip-card-back p {
    font-size: 2.5em;
  }
  .overlay h3 {
    font-size: 0.15em;
    text-align: center;
  }
  .overlay p {
    text-align: center;
    font-size: 0.12em;
  }
}
@media screen and (max-width: 380px) {
  .flip-card-inner {
    width: 60px;
    height: 60px;
  }
}
