
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  /* Colors */
  --orange-color: #F79F24;
  --light-orange-color: #ebb66d;
  --green-color: #45c441;
  --light-green-color: #8bd388;
  --pink-color: #fd5569;
  --light-pink-color: #ff9aa6;

}

html {
  font-family: 'Avenir Next', serif;
}

body {
  width: 100vw;
  /* min-height: 100vh; */
  background-color: rgb(255, 244, 245);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav {
  height: 76px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logo {
  font-size: 30px;
  font-weight: normal;
}

.hamburger-menu {
  width: 45px;
  height: 50px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}


.line {
  height: 4px;
  background-color: #000;
  width: 100%;
  margin-bottom: 8px;
  border-radius: 25px;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card-container {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 10px;
    justify-content: center;
    align-content: center;
    perspective: 1000px;
    width: 100%;
    /* Remove this if you don't want the 3D effect */
  }

  .card-flip-highScore {
    grid-column: 1 / -1;
    font-weight: normal;
    font-size: 26px;
  }
  .card-flip-currentTime {
    grid-row: 2;
    grid-column: 3 / 5;
    text-align: center;
  }

  .card-flip-currentTime h2 {
    font-size: 30px;
    font-weight: normal;
  }
  .card-flip-currentTime h3 {
    font-size: 45px;
    font-weight: normal;
  }
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100px;
    height: 100px;
    text-align: center;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    transform: scale(1);
  }

  
  .flip-card-inner {
    font-size: 3em;
  }
  
  .flip-card-inner:active {
    transform: scale(0.85);
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card-inner.flip {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front,
  .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
    border-radius: 10px;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: var(--green-color);
  }
  
  /* Style the back side */
  .flip-card-back {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
    background-color: var(--light-green-color);
  }


  

@media screen and (max-width: 771px) {

  .hamburger-menu {
    width: 35px;
  }

  .flip-card-inner {
    width: 74px;
    height: 74px;
  }
  .flip-card-container {
    grid-template-columns: repeat(4, auto);
  }

  .card-flip-currentTime {
    grid-column: 2 / 4;
  }
  .card-flip-currentTime h2 {
    font-size: 25px;
  }
  .card-flip-currentTime h3 {
    font-size: 30px;
  }

}
  @media screen and (max-width: 576px) {
    .logo {
      font-size: 24px;
    }

    .flip-card-inner {
      width: 75px;
      height: 75px;
    }
    .card-flip-highScore {
      font-size: 18px;
    }
    .card-flip-currentTime h2 {
      font-size: 20px;
    }
    .card-flip-currentTime h3 {
      font-size: 25px;
    }
  }
  @media screen and (max-width: 400px) {

    .flip-card-inner {
      width: 60px;
      height: 60px;
    }

    .flip-card-inner {
      font-size: 2.2em;
    }
  }
  
  /*# sourceMappingURL=style.css.map */
  